<h1>New post</h1>
<%= form_for (@micropost) do |f|%>
<%=render 'shared/error_messages', :object => f.object%>
  <div class = "field">
    <%= f.label :title%><br/>
    <%= f.text_field :title%>
  </div>
  <div class = "field">
    <%= f.label :content%><br/>
    <%= f.text_field :content%>
  </div>
  <div class = "field">
    <%= f.label :location_id%><br/>
    <%= f.select :location_id, Location.find(:all, :order => "name").collect{|s| [s.name, s.id]}%>
  </div>

  <div class ="actions">
    <%=f.submit "Post"%>
  </div>
  <%end%>
