<table class ="micropost_profile" summary = "micropost information">
  <tr>
     <td class = "main">
      <h1>
        <%=@micropost.title%> <br/>
      </h1>     
      Location: <%=@micropost.location.name%> </br>
      Category: <%=@micropost.category.name%> </br>
      Description: </br>
      <%=@micropost.content%> </br>
      Compensation: <%=@micropost.compensation%>
      
      
    </td>

  
  
  
  </tr>
</table>
